@import 'blocks/nav.css';
@import 'blocks/top.css';
@import 'blocks/mid.css';
@import 'blocks/bot.css';
@import 'blocks/footer.css';
@import 'blocks/background.css';


* {
    margin: 0;
    padding: 0;
}


.space-1 {
    padding: 20px;
}

.space-2 {
    padding: 40px;
}

.space-3 {
    padding: 60px;
}

.space-4 {
    padding: 80px;
}
