.client-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 40%;
    margin-bottom: 12px;

    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;


    padding: 25px;
    font-family: Gilroy ;
    color: #4AAA81;
    font-size: 30px;
    width: 200px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 2px 5px 10px lightgray;
    right: 100px;

}

/* Hide the browser's default radio button */
.client-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 20px;
    left: 400px;
    height: 40px;
    width: 40px;
    border: 2px solid #F58604;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.client-container:hover input ~ .checkmark {
    background-color: #ffaf52 ;
    opacity: 0.2;
}

/* When the radio button is checked, add a blue background */
.client-container input:checked ~ .checkmark {
    background-color: #F58604;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.client-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.client-container .checkmark:after {
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}

.client-titel {
    margin-top: -70px;
}
