/*.container-footer {*/
/*    position: relative;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    background-color: #F5F5F5;*/
/*    margin: auto;*/

/*}*/

.login-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;

}

.bottom-login {
    padding: 20px 70px;
    background-color: #F58604;
    border: 1px solid  transparent;
    color: white;
    border-radius: 30px;
    margin: 20px;
    font-size: 30px;
    box-shadow: 2px 5px 10px lightgray;

}

.bottom-registreer {
    background-color: transparent;
    color: #F58604;
    margin: 0px 0px 50px 0px;
    border: 1px solid  transparent;
    font-size: 15px;
}
