.container-mid {
    position: relative;
    width: 100vw;
    height: 250px;
    background-color: #F5F5F5;
    margin: auto;
}

.login {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.name {
    padding: 30px;
    border-radius: 25px;
    margin-bottom: 20px;
    text-align: center;
    color: #4AAA81;
    font-size: 30px;
    width: 25vh;
    border: 1px solid transparent;
    box-shadow: 2px 5px 10px lightgray;
}

.wachtwoord  {
    padding: 30px;
    border-radius: 25px;
    width: 25vh;
    border: 1px solid transparent;
    box-shadow: 2px 5px 10px lightgray;
    text-align: center;
    color: #4AAA81;
    font-size: 30px;
}

