.container-mid {
    position: relative;
    width: 100vw;
    height: 200px;
    background-color: #F5F5F5;
    margin: auto;
}

.login {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
